/* external css */
@media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }
  }

 body{
    background-color:whitesmoke;
} 


#top{
    top:20px;
}
section {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:5px 30px;
    margin-top: 60px;
    position: relative;
}
/* link style */
nav>ul>li {
    display:inline-block;
    padding: 10px 3px;
    font-size:20px;
}
nav>ul>li>a{
    text-decoration:none;
    color:black;
    size:36px;
} 
a:hover{
    border-bottom: solid red;
}
article {
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
    margin: 5%;
}
.title {
    font-size: 23px;
    font-weight: bold;
    border-bottom: solid red;
}
.date {
    font-style: italic;
    font-size: 15px;
    text-transform: uppercase; }
h2{
    font-size: 23px;
    line-height: 25px;
    text-align: justify;
   
}


.parent{
    padding-top: 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.child4{
    border-style:dotted;
    border-top: black;
    border-bottom:black;
    border-left: black;
    padding-right:40px;

}
.child5{
    padding-left: 30px;
    padding-top: 10px;

}
.social_items{
    padding-top: 10px;
    padding-left: 20px;
}
.another_parent{
   background-color: black;
   color:white;
    display: block;
    padding-left: 60px;
}
.another_parent1{
    background-color: black;
    color:white;
     display: block;
     padding-left: 60px;
     padding-bottom: 30px;
 }
.search_bar{
    padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 12px;
}
.long_text{
    width: 150px;
    padding-top: 20px
}


